 
@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}
 
 
@media (min-width: 768px) and (max-width: 992px) {
    body {
        width: 100%;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }

    nav .container {
        padding: 0;
        margin: 0;
    }

    .left_side {
        display: none;
    }
}

 
@media (max-width: 767px) {
    body {
        width: 100%;
    }

    .container {
        padding: 0 15px;
    }

    nav .container ,header .container{
        padding: 0;
        margin: 0;
    }

    header {
        height: 96px;
    }

    a#logo {
        width: 100%;
        height: 56px;
        background: url(../img/logo.png) no-repeat 0 0;
        margin: 20px 0;
    }

    .left_side {
        display: none;
    }
}
