@charset "UTF-8";
/*! ====================================
    Public styles for LRM
    Compiled from SCSS
====================================*/
/* modal.scss */
.lrm-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 999999;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.lrm-user-modal.is-visible {
  visibility: visible !important;
  opacity: 1;
}
.lrm-user-modal.is-visible .lrm-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

ul.lrm-switcher {
  list-style: none !important;
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.lrm-user-modal-container-inner {
  background: #FFF;
}

.lrm-user-modal-container {
  position: relative;
  width: 98%;
  max-width: 540px;
  margin: 3em auto 4em;
  cursor: auto;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
@media only screen and (min-width: 600px) {
  .lrm-user-modal-container {
    width: 90%;
  }
}
@media only screen and (min-width: 600px) {
  .lrm-user-modal-container .lrm-user-modal-container {
    margin: 4em auto;
  }
}
.lrm-user-modal-container .lrm-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.lrm-user-modal-container ul.lrm-switcher li {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}
.lrm-user-modal-container .lrm-switcher.-is-not-login-only li {
  width: 50%;
  float: left;
}
.lrm-user-modal-container .lrm-switcher a {
  display: block !important;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-decoration: none !important;
  box-shadow: none !important;
  border: none !important;
}
@media only screen and (min-width: 600px) {
  .lrm-user-modal-container .lrm-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.lrm-switch-to-link:before {
  line-height: 1;
  content: "";
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 3px;
  height: 24px;
}

/* form.scss */
.lrm-form {
  padding: 0.5em 0 0 !important;
  margin: 0;
}
.lrm-btn-style--full-width .lrm-form {
  padding-bottom: 0 !important;
}
.lrm-form .fieldset {
  position: relative;
  margin: 1.4em 0;
  padding: 0 !important;
  clear: both;
}
@media only screen and (min-width: 600px) {
  .lrm-form .fieldset .lrm-form .fieldset {
    margin: 2em 0 !important;
  }
}
.lrm-form .gform_wrapper ul.gform_fields li.gfield,
.lrm-form .gform_wrapper .gform_footer,
.lrm-form .gform_wrapper .gform_heading,
.lrm-form .lrm-fieldset-wrap,
.lrm-form #buddypress #register-page,
#buddypress .lrm-form #register-page,
.lrm-form .fieldset--default {
  padding: 0 1.4em !important;
}
@media only screen and (min-width: 600px) {
  .lrm-form .gform_wrapper ul.gform_fields li.gfield .lrm-form .fieldset,
.lrm-form .gform_wrapper .gform_footer .lrm-form .fieldset,
.lrm-form .gform_wrapper .gform_heading .lrm-form .fieldset,
.lrm-form .lrm-fieldset-wrap .lrm-form .fieldset,
.lrm-form #buddypress #register-page .lrm-form .fieldset,
#buddypress .lrm-form #register-page .lrm-form .fieldset,
.lrm-form .fieldset--default .lrm-form .fieldset {
    padding: 0 2em !important;
  }
}
.lrm-form .fieldset--full-width {
  margin-bottom: 0 !important;
}
.lrm-form label {
  font-size: 14px;
}
.lrm-form.--registration-done {
  padding-bottom: 1em !important;
}
.lrm-form.--registration-done > div:not(.lrm-form-message-wrap) {
  display: none;
}
.lrm-form [placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 1s 1s ease;
  transition: opacity 1s 1s ease;
  opacity: 0;
  color: inherit;
}

/* It's a Honeypot field! */
.fieldset--login {
  display: none;
}

.lrm-form label.image-replace,
.lrm-form .lrm-image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 21px;
  width: 22px;
  overflow: hidden;
  color: #d2d8d8;
  white-space: nowrap;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding: 0 !important;
}
.lrm-font-svg .lrm-form label.image-replace,
.lrm-font-svg .lrm-form .lrm-image-replace {
  height: 20px;
  color: transparent;
}
[dir=rtl] .lrm-form label.image-replace, [lang=ar] .lrm-form label.image-replace,
[dir=rtl] .lrm-form .lrm-image-replace,
[lang=ar] .lrm-form .lrm-image-replace {
  right: 15px;
  left: auto;
}
.lrm-form input, .lrm-form select {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  height: auto !important;
}
.lrm-form input.full-width,
.lrm-form select.full-width,
.lrm-form button.full-width {
  width: 100% !important;
  box-sizing: border-box;
}
.lrm-form input.has-padding,
.lrm-form select.has-padding,
.lrm-form button.has-padding {
  padding: 12px 20px 12px 50px;
}
[dir=rtl] .lrm-form input.has-padding, [lang=ar] .lrm-form input.has-padding,
[dir=rtl] .lrm-form select.has-padding,
[lang=ar] .lrm-form select.has-padding,
[dir=rtl] .lrm-form button.has-padding,
[lang=ar] .lrm-form button.has-padding {
  padding: 12px 50px 12px 20px;
}
@media only screen and (min-width: 600px) {
  .lrm-form input.has-padding input.has-padding,
.lrm-form input.has-padding button.has-padding,
.lrm-form select.has-padding input.has-padding,
.lrm-form select.has-padding button.has-padding,
.lrm-form button.has-padding input.has-padding,
.lrm-form button.has-padding button.has-padding {
    padding: 16px 20px 16px 50px !important;
  }
  .lrm-form input.has-padding button[type=submit],
.lrm-form input.has-padding input[type=submit],
.lrm-form input.has-padding #buddypress input[type=submit],
.lrm-form select.has-padding button[type=submit],
.lrm-form select.has-padding input[type=submit],
.lrm-form select.has-padding #buddypress input[type=submit],
.lrm-form button.has-padding button[type=submit],
.lrm-form button.has-padding input[type=submit],
.lrm-form button.has-padding #buddypress input[type=submit] {
    padding: 16px 0 !important;
  }
}
.lrm-form input.has-border,
.lrm-form select.has-border {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.lrm-form input.has-border:focus,
.lrm-form select.has-border:focus {
  outline: none;
}
.lrm-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.lrm-form a.button,
.lrm-form button[type=submit],
.lrm-form #buddypress input[type=submit],
.lrm-form .gform_wrapper input.gform_button[type=submit],
.lrm-form input[type=submit] {
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: auto;
  border-radius: 5px;
  width: 100% !important;
}
.lrm-btn-style--full-width .lrm-form a.button,
.lrm-btn-style--full-width .lrm-form button[type=submit],
.lrm-btn-style--full-width .lrm-form #buddypress input[type=submit],
.lrm-btn-style--full-width .lrm-form .gform_wrapper input.gform_button[type=submit],
.lrm-btn-style--full-width .lrm-form input[type=submit] {
  border-radius: 0;
}
.lrm-form a.button,
.lrm-form button {
  font-size: 16px;
  padding: 8px 5px;
}
.lrm-form button[type=submit],
.lrm-form #buddypress input[type=submit],
.lrm-form input[type=submit] {
  font-size: 20px;
  padding: 16px 5px;
}

.no-touch .lrm-form input[type=submit]:hover,
.no-touch .lrm-form input[type=submit]:focus,
.no-touch .lrm-form button[type=submit]:hover,
.no-touch .lrm-form button[type=submit]:focus {
  background: #3599ae;
  outline: none;
}

.lrm-form .hide-password {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 21px;
  width: 22px;
  overflow: hidden;
  color: #d2d8d8;
  white-space: nowrap;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
  left: unset;
  border-left: 1px solid black;
  font-size: 14px;
  font-size: 0.875rem;
  cursor: pointer;
  background-position: center;
  padding: 10px 12px;
  right: 5px;
}
.lrm-font-svg .lrm-form .hide-password {
  height: 20px;
  color: transparent;
}
[dir=rtl] .lrm-form .hide-password, [lang=ar] .lrm-form .hide-password {
  right: 15px;
  left: auto;
}
[dir=rtl] .lrm-form .hide-password, [lang=ar] .lrm-form .hide-password {
  left: 0;
  right: unset;
  border-right: 1px solid black;
  border-left: none;
}

.lrm-form .lrm-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: 0.8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.lrm-form .lrm-error-message::after {
  /* triangle */
  content: "";
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.lrm-form .lrm-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}

.lrm-form-message {
  padding: 0.35em 0 0.3em 0.7em;
  font-size: 14px;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  margin: 5px 0 0;
  border-left: 4px solid #6d6d6d;
}
@media only screen and (min-width: 600px) {
  .lrm-form-message .lrm-form-message {
    padding: 0.6em 0 0.5em 1em;
  }
}
.lrm-form-message:empty {
  display: none;
}
.lrm-form-message.lrm-is-error {
  border-left-color: #dc3232;
}
[dir=rtl] .lrm-form-message.lrm-is-error, [lang=ar] .lrm-form-message.lrm-is-error {
  border-left-color: transparent;
  border-right-color: #dc3232;
}
[dir=rtl] .lrm-form-message, [lang=ar] .lrm-form-message {
  border-right: 4px solid #6d6d6d;
  border-left: none;
  padding: 0.35em 0.3em 0 0.7em;
}

p.lrm-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -32px;
  text-align: center;
  font-size: 14px;
  margin: 0 !important;
}

.lrm-user-modal p.lrm-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.lrm-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

/*@media only screen and (min-width: 1170px) {*/
/*.lrm-close-form {*/
/*display: none;*/
/*}*/
/*}*/
.lrm-inline .lrm-close-form {
  display: none !important;
}

.lrm-signin-section,
.lrm-signup-section,
.lrm-reset-password-section {
  display: none;
}

.lrm-signin-section.is-selected,
.lrm-signup-section.is-selected,
.lrm-reset-password-section.is-selected {
  display: block;
}

/*
=== INLINE ===
*/
.lrm-inline p.lrm-form-bottom-message a {
  color: inherit;
}

/* loader.scss */
/* Loader animation */
.lrm-button-loader {
  text-align: center;
  width: 60px;
  height: 22px;
  x-display: none;
  overflow: hidden;
  color: #ffffff;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.lrm-button-loader svg {
  width: 100%;
  height: 100%;
}

/* helpers.scss */
html.html-has-lrm {
  overflow: auto !important;
}

.lrm-position-relative {
  position: relative;
}

.lrm-clearfix:after,
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.lrm-col {
  position: relative;
}

.lrm-row {
  margin: 1.4em 0;
}

@media only screen and (min-width: 600px) {
  .lrm-col-half-width,
.lrm-col-1-2 {
    width: 50%;
  }

  .lrm-col-1-3 {
    width: 33.333%;
  }

  .lrm-col-2-3 {
    width: 66.666%;
  }

  .lrm-col-1-4 {
    width: 25%;
  }

  .lrm-col {
    float: left;
    clear: none;
    padding: 0 5px 0 !important;
  }

  .lrm-row {
    margin: 1.4em -5px;
  }
}
/* integrations.scss */
.lrm-integrations label {
  font-weight: bold;
}

.lrm-form .lrm-integrations input[type=text],
.lrm-form .lrm-integrations input[type=tel],
.lrm-form .lrm-integrations input[type=email],
.lrm-form .lrm-integrations input[type=number],
.lrm-form .lrm-integrations input[type=url],
.lrm-form .lrm-integrations input[type=date],
.lrm-form .lrm-integrations input[type=password],
.lrm-form .lrm-integrations textarea,
.lrm-form .lrm-integrations select {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100% !important;
  box-sizing: border-box;
  padding: 12px 20px;
  font-size: 16px;
}

.lrm-form .lrm-integrations input[type=text]:focus,
.lrm-form .lrm-integrations input[type=tel]:focus,
.lrm-form .lrm-integrations input[type=number]:focus,
.lrm-form .lrm-integrations input[type=email]:focus,
.lrm-form .lrm-integrations input[type=url]:focus,
.lrm-form .lrm-integrations input[type=date]:focus,
.lrm-form .lrm-integrations input[type=password]:focus,
.lrm-form .lrm-integrations textarea:focus .lrm-form .lrm-integrations select:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

.lrm-form .acf-field {
  text-align: left;
}

.lrm-form .acf-input-prepend,
.lrm-form .acf-input-append {
  padding: 13px 7px;
}

.lrm-form input.has-error {
  border: 1px solid #d76666;
}

.lrm-integrations {
  text-align: center;
}

.lrm-integrations,
.lrm-integrations label,
.lrm-integrations p {
  font-size: 16px;
}

.lrm-integrations br {
  display: none;
  text-align: center;
}

/*
==== lrm-pass-strength-result ====
@since 1.1
*/
.lrm-pass-strength-result {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #23282d;
  margin: 1px 5px 5px 1px;
  padding: 3px 5px;
  text-align: center;
  width: 25em;
  opacity: 0;
  display: none;
  width: 100%;
}
.lrm-pass-strength-result[data-status] {
  display: inline-block;
}

.lrm-pass-strength-result[data-status=short] {
  background-color: #f1adad;
  border-color: #e35b5b;
  opacity: 1;
}

.lrm-pass-strength-result[data-status=bad] {
  background-color: #fbc5a9;
  border-color: #f78b53;
  opacity: 1;
}

.lrm-pass-strength-result[data-status=good] {
  background-color: #ffe399;
  border-color: #ffc733;
  opacity: 1;
}

.lrm-pass-strength-result[data-status=strong] {
  background-color: #c1e1b9;
  border-color: #83c373;
  opacity: 1;
}

.lrm-pass-strength-result[data-status=empty] {
  display: none;
}

/* Catcha PLUGIN */
.lrm-integrations .cptch_input {
  padding: 6px 8px;
  font-size: 16px !important;
}

.wp-social-login-provider-list img {
  display: inline-block;
}

/**
    Jetpack
*/
#jetpack-sso-wrap {
  margin-top: 10px;
}

a.jetpack-sso {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.jetpack-sso-or {
  margin-bottom: 16px;
  position: relative;
  text-align: center;
}

.jetpack-sso-or:before {
  background: #E5E5E5;
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}

.jetpack-sso-or span {
  background: #fff;
  color: #777;
  position: relative;
  padding: 0 8px;
  text-transform: uppercase;
}

.jetpack-sso.button {
  height: 36px;
  line-height: 34px;
  float: none;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}

.jetpack-sso.button > span {
  position: relative;
  padding-left: 30px;
}

.jetpack-sso.button .genericon-wordpress {
  position: absolute;
  left: 0;
  top: -3px;
  font-size: 24px;
}

@media screen and (max-width: 782px) {
  .jetpack-sso.button {
    line-height: 22px;
  }
}
/* UltimateMember Registration form customization */
.lrm-signup-section .um-button.um-alt {
  display: none;
}

.lrm-signup-section .um-col-alt .um-right.um-half {
  display: none;
}

.lrm-signup-section .um-col-alt .um-half {
  width: 100%;
}

.um-register.um {
  max-width: unset !important;
}

.lrm-signup-section .um-col-alt {
  padding-bottom: 0.9em;
}

.lrm-signup-section #um-submit-btn {
  width: 100% !important;
}

@media (min-height: 33.875em) {
  .um .picker--opened .picker__frame {
    top: 50%;
  }
}
.lrm-grecaptcha > div {
  margin: auto;
}

.lrm-form .lrm-math-captcha-wrap {
  padding: 5px 0;
  text-align: center;
}
.lrm-form .lrm-math-captcha-wrap input.has-border {
  width: 64px !important;
  text-align: center;
}
.lrm-form .lrm-math-captcha-wrap input.has-border[disabled] {
  color: gray;
}
.lrm-user-modal-container .lrm-form .lrm-math-captcha-wrap input.lrm-match-value {
  font-weight: bold;
}
.lrm-form .lrm-math-captcha-wrap .lrm-math-captcha-label {
  font-weight: bold;
}

.lrm-form .rcp_form label {
  text-align: left;
}

.lrm-integrations .mc4wp-checkbox {
  text-align: left;
}
.lrm-integrations .mc4wp-checkbox label span {
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  color: grey;
  line-height: 17px;
  display: inline-block;
}
.lrm-integrations .mc4wp-checkbox label input[type=checkbox] {
  display: none;
}
.lrm-integrations .mc4wp-checkbox label input[type=checkbox]:checked + span:after {
  border-color: #0b76ef;
  background: #0b76ef;
}
.lrm-integrations .mc4wp-checkbox label input[type=checkbox]:checked + span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 9px;
  width: 5px;
  height: 11px;
  transform: rotate(40deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
  z-index: 1;
}
.lrm-integrations .mc4wp-checkbox label span:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #e8e8eb;
  border-radius: 3px;
}

/**
    !! Gravity Forms !!
    @since PRO 2.01
 **/
.lrm-signup-section .ginput_container_password button {
  color: black !important;
}
.lrm-signup-section .gform_wrapper .gform_footer {
  text-align: center;
}
.lrm-signup-section .gform_wrapper .gform_ajax_spinner {
  padding: 0;
  display: inline-block;
}
@media only screen and (min-width: 641px) {
  .lrm-signup-section .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: 100% !important;
  }
}

.lrm-nice-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-appearance: none;
  /* Hover and focus states */
  /* Checked state */
  /* Hover state whilst checked */
  /* Disabled state */
  /* Check mark */
  /* Show check mark */
  /* Checkbox tick */
}
.lrm-nice-checkbox__label {
  position: relative;
  padding-left: 27px;
  font-size: 14px;
  vertical-align: middle;
  margin: 13px 0 3px;
  display: block;
  font-weight: 400;
  line-height: 20px;
}
body.rtl .lrm-nice-checkbox__label {
  padding-right: 27px;
  padding-left: 0;
}
.lrm-nice-checkbox__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #e6e6e6;
}
body.rtl .lrm-nice-checkbox__indicator {
  left: unset;
  right: 0;
}
.lrm-nice-checkbox__label .lrm-nice-checkbox__indicator {
  background: transparent;
  border: 2px solid #e8e8eb;
  border-radius: 3px;
}
.lrm-nice-checkbox__label input:checked ~ .lrm-nice-checkbox__indicator {
  background: #0b76ef;
  border-color: #0b76ef;
}
.lrm-nice-checkbox__label:hover input:not([disabled]):checked ~ .lrm-nice-checkbox__indicator, .lrm-nice-checkbox__label input:checked:focus ~ .lrm-nice-checkbox__indicator {
  background: #0b76ef;
}
.lrm-nice-checkbox__label input:disabled ~ .lrm-nice-checkbox__indicator {
  pointer-events: none;
  opacity: 0.6;
  background: #e6e6e6;
}
.lrm-nice-checkbox__indicator:after {
  position: absolute;
  display: none;
  content: "";
}
.lrm-nice-checkbox__label input:checked ~ .lrm-nice-checkbox__indicator:after {
  display: block;
}
.lrm-nice-checkbox__label .lrm-nice-checkbox__indicator:after {
  top: 0px;
  left: 5px;
  width: 5px;
  height: 11px;
  transform: rotate(40deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.lrm-font-icomoon .lrm-ficon-user:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-user:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-user:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-user:before {
  content: "\f007";
}

.lrm-font-icomoon .lrm-ficon-eye:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-eye:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-eye:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-eye:before {
  content: "\f06e";
}

.lrm-font-icomoon .lrm-ficon-eye-blocked:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-eye-blocked:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-eye-blocked:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-eye-blocked:before {
  content: "\f070";
}

.lrm-font-icomoon .lrm-ficon-key:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-key:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-key:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-key:before {
  content: "\f084";
}

.lrm-font-icomoon .lrm-ficon-lock:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-lock:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-lock:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-lock:before {
  content: "\f023";
}

.lrm-font-icomoon .lrm-ficon-mail:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-mail:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-mail:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-mail:before {
  content: "\f0e0";
}

.lrm-font-icomoon .lrm-ficon-login:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-login:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-login:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-login:before {
  content: "\f2f6";
}

.lrm-font-icomoon .lrm-ficon-register:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-register:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-register:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-register:before {
  content: "\f234";
}

.lrm-font-icomoon .lrm-ficon-close:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-close:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-close:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-close:before {
  content: "\f00d";
}

.lrm-font-icomoon .lrm-ficon-phone:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-phone:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-phone:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-phone:before {
  content: "\f095";
}

.lrm-font-icomoon .lrm-ficon-mobile-phone:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-mobile-phone:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-mobile-phone:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-mobile-phone:before {
  content: "\f3cd";
}
.lrm-ficon-mobile-phone:before {
  top: 1px;
  position: relative;
}

.lrm-font-icomoon .lrm-ficon-location:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-location:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-location:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-location:before {
  content: "\f3c5";
}
.lrm-ficon-location:before {
  top: 1px;
  position: relative;
}

.lrm-font-icomoon .lrm-ficon-map:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-map:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-map:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-map:before {
  content: "\f279";
}

.lrm-font-icomoon .lrm-ficon-compass:before {
  content: "\";
}
.lrm-font-material .lrm-ficon-compass:before {
  content: "\";
}
.lrm-font-fa4 .lrm-ficon-compass:before {
  content: "\";
}
.lrm-font-fa5-free .lrm-ficon-compass:before {
  content: "\f124";
}
.lrm-ficon-compass:before {
  top: 1px;
  position: relative;
}

[class^=lrm-ficon-], [class*=" lrm-ficon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}
[class^=lrm-ficon-]:before, [class*=" lrm-ficon-"]:before {
  font-size: 20px;
}
.lrm-font-material [class^=lrm-ficon-]:before, .lrm-font-material [class*=" lrm-ficon-"]:before {
  font-size: 22px;
}
[class^=lrm-ficon-].lrm-switch-to-link:before, [class*=" lrm-ficon-"].lrm-switch-to-link:before {
  font-size: 24px;
  margin-top: -2px;
}

.lrm-font-svg .lrm-switch-to-link:before {
  width: 22px;
  vertical-align: text-bottom;
}
.lrm-font-svg .lrm-switch-to--login:before {
  background: url(img/login.png) no-repeat center center;
  background-size: 100%;
}
.lrm-font-svg .lrm-switch-to--register:before {
  background: url(img/user.png) no-repeat center center;
  background-size: 100%;
}
.lrm-font-svg .lrm-form label.lrm-username,
.lrm-font-svg .lrm-form .lrm-ficon-user {
  background-image: url("img/cd-icon-username.svg");
}
.lrm-font-svg .lrm-form label.lrm-email,
.lrm-font-svg .lrm-form .lrm-ficon-mail {
  background-image: url("img/cd-icon-email.svg");
}
.lrm-font-svg .lrm-form label.lrm-password,
.lrm-font-svg .lrm-form .lrm-ficon-key {
  background-image: url("img/cd-icon-password.svg");
}
.lrm-font-svg .lrm-form label.lrm-user_role {
  background-image: url("img/lock.svg?v=2");
}
.lrm-font-svg .lrm-form .hide-password,
.lrm-font-svg .lrm-form .lrm-ficon-eye {
  padding: 20px 21px;
  background-size: 24px;
  text-indent: -300px;
  background-image: url("img/iconmonstr-eye-4.svg");
}
.lrm-font-svg .lrm-form .hide-password.hide-password--on, .lrm-font-svg .lrm-form .hide-password.lrm-ficon-eye-blocked,
.lrm-font-svg .lrm-form .lrm-ficon-eye.hide-password--on,
.lrm-font-svg .lrm-form .lrm-ficon-eye.lrm-ficon-eye-blocked {
  background-image: url("img/iconmonstr-eye-8.svg?v3");
}

.lrm-is-font .hide-password {
  width: 42px;
  height: auto;
}
.lrm-font-icomoon .hide-password--on:before {
  content: "\";
}
.lrm-font-material .hide-password--on:before {
  content: "\";
}
.lrm-font-fa4 .hide-password--on:before {
  content: "\";
}
.lrm-font-fa5-free .hide-password--on:before {
  content: "\f070";
}

/*# sourceMappingURL=lrm-core-compiled.css.map */
